@keyframes animEntete{
    from {
        transform : translateX(500px);
    }
    to{
        transform : translateX(0px);
    }
}
@keyframes animHoverImage{
    from {
        opacity: 0%;
    }
    to{
        opacity: 70%;
    }
}
@keyframes animHoverTexte{
    from {
        filter: blur(4px);
    }
    to{
        filter: blur(0px);
    }
}
@keyframes animHoverOutImage{
    from {
        opacity: 70%;
    }
    to{
        opacity: 0%;
    }
}

.animEntete {
    animation : animEntete 1s; 
}