//$couleur_rouge : rgb(47, 84, 119);
$couleur_blanc : rgb(104, 122, 146);
$couleur_bleuHeader: rgb(47, 84, 119);
$couleur_bleuClairHeader: rgb(109, 149, 187);

$couleur_vert :#2ecc71;
$couleur_bleu :#3498db;
$couleur_jaune :#f1c40f;
$couleur_rouge : rgb(109, 41, 44);


